.body{
    font-family: 'Outfit', sans-serif;
}
.qr-code-section{
    width: 100%;
    height: 100vh;
    background-color: var(--Light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}
.qr-code-card{
    width: 300px;
    height: 500px;
    background-color: var(--White);
    border: transparent solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.105);
}
.qr-code-img{
    width: 100%;
    height: 60%;
    background-image: url(image-qr-code.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: transparent;
    border-radius: 10px;
}
.text{
    margin-top: 15px;
}
.text h1{
    color: var(--Dark-blue);
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    font-family: 'Outfit', sans-serif;
}
.text p{
    color: var(--Grayish-blue);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    font-family: 'Outfit', sans-serif;
}